<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create new Post</title>

    <!-- Header -->
    <%include layouts/head %>

    <!-- Include stylesheet -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/jodit/3.1.39/jodit.min.js"></script>
</head>
<body id="top">

    <!-- pageheader
    ================================================== -->
    <div class="s-pageheader">
        <%include layouts/header %>
    </div> <!-- end s-pageheader -->


    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow s-content--no-padding-bottom">
        <div class="row">
            <form action="/post/create" method="POST" enctype="multipart/form-data">
                <input type="text" class="full-width form_input" id="title"  name="title" placeholder="Title" value="<%= post.title %>" />
                
                <!-- <% if(!post.image){ %>
                    <input type="file" class="form-control" name="image" required />
                    <button type="submit" class="btn btn-primary" formaction="/post/upload_image">Upload ảnh</button>
                <% } else { %>
                    <img src="<%= post.image.url %>" />
                <% } %> -->
                <input type="text" class="full-width form_input" id="image_url" name="image_url" placeholder="Image Url" value="<%= post.image_url %>" />

                <h4>Categories: </h4>
                <% for(var i=0; i<categories.length; i++) { %>
                <input type="checkbox" class="form-check-input form_input categories" name="categories" value="<%=categories[i].name%>"
                <% if(post.categories.includes(categories[i].name)){ %> checked <% } %>
                > <%=categories[i].name%> 
                <% if((i+1)%3 == 0){ %><br/><%}%>
                <% } %>
                <br />
                <textarea class="form_input" id="editor" name="content">
                    <%= post.content %>
                </textarea>
                <br />
                <input type="submit" class="btn btn-primary" value="Post" />
            </form>
        </div>
        
        <br/>
        <br/>
    </section> <!-- s-content -->

    <!-- Footer -->
    <%include layouts/footer %>

    <script>
        $(document).ready(function() { 
            var editor = new Jodit('#editor', {
                theme: "summer"
            });

            $('.form_input').change(function(){
                $.ajax({
                    url: '/post/save_ajax',
                    type: 'POST',
                    data: {
                        title: $('#title').val(),
                        categories: $('input:checked').map(function (idx, ele) {return $(ele).val();}).get(),
                        content: $('#editor').val(),
                        image_url: $('#image_url').val(),
                    }
                }).done(function(result) {
                    console.log(result);
                });
            });
            
        });
        
    </script>

</body>
</html>